sudo: false

dist: precise

before_install:
  - export NOKOGIRI_USE_SYSTEM_LIBRARIES=true
  - npm install -g grunt-cli
  - export gitbranch=`git branch |grep "\*"| sed 's/* //g'`
  - echo "branch $gitbranch"
  - echo "travis: $TRAVIS_BRANCH"

install:
  - bundle install
  - npm install grunt grunt-html --save-dev

script: rake ci

# environment
language: ruby
rvm:
  - "2.2.3"
jdk:
  - oraclejdk8

branches:

notifications:
  email:
    recipients:
      - "glen.robson@gmail.com"
    on_success: "change"
    on_failure: "change"
